<%- include('header-base.ejs', {page: 'index'}); %>

<aside>
    <header>
        <h1>Station autonome<br/>F4HVV</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/" class="button" id="nav-index">Accueil</a></li>
            <li><a href="/photos" class="button" id="nav-photos">Photos</a></li>
            <li><a href="/stats" class="button" id="nav-stats">Graphiques</a></li>
            <li><a href="/slide" class="button" id="nav-stats">Écran moniteur</a></li>
            <li><a href="/admin" class="button" id="nav-admin">Admin</a></li>
        </ul>
    </nav>
</aside>

<main>
    <header>
        <h2>Tableau de bord</h2>
    </header>
