[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/valentin/bin/timelapse.sh
User=valentin
Group=valentin
After=startup.service
Wants=startup.service

[Install]
WantedBy=multi-user.target
