[submodule "rp2040-lora-aprs/lib/Aprs"]
	path = rp2040-lora-aprs/lib/Aprs
	url = https://github.com/valentintintin/SimpleLibAprs
[submodule "rp2040-lora-aprs/lib/Timer"]
	path = rp2040-lora-aprs/lib/Timer
	url = https://github.com/valentintintin/SimpleLibTimer
[submodule "rp2040-lora-aprs/lib/SimpleLibTimer"]
	path = rp2040-lora-aprs/lib/SimpleLibTimer
	url = git@github.com:valentintintin/SimpleLibTimer.git
[submodule "rp2040-lora-aprs/libaprs"]
	path = rp2040-lora-aprs/libaprs
	url = https://github.com/iontodirel/libaprs.git
[submodule "rp2040-lora-aprs/lib/libaprs"]
	path = rp2040-lora-aprs/lib/libaprs
	url = https://github.com/iontodirel/libaprs.git
[submodule "rp2040-lora-aprs/lib/MeshCore"]
	path = rp2040-lora-aprs/lib/MeshCore
	url = https://github.com/valentintintin/MeshCore.git
	branch = meshtastic_bridge
[submodule "rp2040-lora-aprs/lib/nanopb"]
	path = rp2040-lora-aprs/lib/nanopb
	url = https://github.com/nanopb/nanopb.git
