@{
    ViewData["Title"] = "Accueil";
}

<header>
    <h2>Tableau de bord</h2>
</header>

<meta http-equiv="refresh" content="60;URL=/">
                 
<div class="sensors">
    <header>
        <h2>
            Capteurs
            - Dernier relevé à XX:XX
        </h2>
    </header>
                 
    <section>
        <article class="card card-number bg-green">
            <span class="title">Température</span>
            <strong class="value">20.0°C</strong>
        </article>
                 
        <article class="card card-number bg-blue">
            <span class="title">Humidité</span>
            <strong class="value">50%</strong>
        </article>
        
    </section>
                 
    <section>
        <article class="card card-number bg-blue">
            <span class="title">Voltage solaire</span>
            <strong class="value">19.6V</strong>
        </article>
                 
        <article class="card card-number bg-orange">
            <span class="title">Intensité de charge</span>
            <strong class="value">300mA</strong>
        </article>
    </section>
                 
    <section>
        <article class="card card-number bg-blue">
            <span class="title">Voltage batterie</span>
            <strong class="value">12.6V</strong>
        </article>
                 
        <article class="card card-number bg-orange">
            <span class="title">Uptime</span>
            <strong class="value">XX:XX:XX</strong>
        </article>
    </section>
    @* <section> *@
        @* <strong>Aucune donnée pour le moment</strong> *@
    @* </section> *@
</div>
                 
<div class="photos">
    <header>
        <h2>
            Dernière photo
            - Prise le XXXX
        </h2>
    </header>
                 
    <section>
        <article class="photo"><!--
            <a href="<%= lastPhoto.path %>_4.jpg" target="_blank">
                <img src="<%= lastPhoto.path %>_4.jpg" alt="Dernière photo prise"
                     title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString('fr-FR', {hour12: false}) %>"
                     onerror="const old = this.src; this.src = ''; this.src = old;"/>
            </a>-->
        </article>
        <article class="photo"><!--
            <a href="<%= lastPhoto.path %>_2.jpg" target="_blank">
                <img src="<%= lastPhoto.path %>_2.jpg" alt="Dernière photo prise"
                     title="Dernière photo prise le <%= new Date(lastPhoto.date).toLocaleString('fr-FR', {hour12: false}) %>"
                     onerror="const old = this.src; this.src = ''; this.src = old;"/>
            </a>-->
        </article>
        @* <strong>Aucune photo</strong> *@
    </section>
</div>
                 
<div class="infos">
    <header>
        <h2>La station</h2>
    </header>
                 
    <section>
        <article>
            <ul>
                <li>
                    <a href="https://store.arduino.cc/arduino-pro-mini" target="_blank">Un Arduino Pro Mini pour le
                        watchdog</a>
                </li>
                <li>
                    <a href="http://www.orangepi.org/orangepizerolts/" target="_blank">Un Orange Pi Zero LTS</a>
                </li>
                <li>
                    <a href="https://www.all-batteries.fr/batterie-plomb/sonnenschein/a512-10s.html" target="_blank">Une
                        batterie Plomb/Gel 10Ah</a>
                </li>
                <li>
                    <a href="https://www.amazon.fr/gp/product/B07KG2TB6V" target="_blank">Un panneau de 25W</a>
                </li>
                <li>
                    <a href="http://www.danjuliodesigns.com/products/makerpower.html" target="_blank">Un chargeur
                        MPPT</a>
                </li>
                <li>
                    <a href="https://hackaday.io/project/164092-npr-new-packet-radio" target="_blank">Un NPR 70</a>
                </li>
            </ul>
        </article>
                 
        @* <article> *@
        @*     <a href="/images/lien.jpg" target="_blank"> *@
        @*         <img src="/images/lien.jpg" alt="Liens réseaux" style="width: 200px"/> *@
        @*     </a> *@
        @*     <a href="/images/station-boite.jpg" target="_blank"> *@
        @*         <img src="/images/station-boite.jpg" alt="Station boîte intérieur" style="width: 200px"/> *@
        @*     </a> *@
        @*     <a href="/images/station-sol.jpg" target="_blank"> *@
        @*         <img src="/images/station-sol.jpg" alt="Station au sol" style="width: 200px"/> *@
        @*     </a> *@
        @*     <a href="/images/station-sol2.jpg" target="_blank"> *@
        @*         <img src="/images/station-sol2.jpg" alt="Station on sol 2" style="width: 200px"/> *@
        @*     </a> *@
        @* </article> *@
    </section>
</div>