@page "/"
@using Microsoft.AspNetCore.Components.Web
@using Monitor
@namespace ThingsTracker.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <base href="~/"/>
    <link href="Monitor.styles.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"/>
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered"/>

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        Une erreur est survenue
    </environment>
    <environment include="Development">
        Une exception a été lancée !
    </environment>
    <a href="" class="reload">Recharger</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
</body>
</html>