@page "/settings"

@using Monitor.Workers
@using Monitor.Components
@using Monitor.Services

@inject SerialMessageService SerialMessageService
@inject PowerNightApp PowerNightApp
@inject CameraCaptureApp CameraCaptureApp
@inject LowBatteryApp LowBatteryApp
@inject WatchdogApp WatchdogApp
@inject GpioApp GpioApp
@inject MpptApp MpptApp

<PageTitle>Paramètres</PageTitle>

<h1>Paramètres</h1>

<GridRow Gutter="(16, 16)" Justify="center">
    <GridCol Span="12">
        <Card Title="Nuit">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="PowerNightApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Utilise l'heure de lever du soleil">
                    <Switch @bind-Checked="PowerNightApp.UseSun.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Réveil la nuit">
                    <Switch @bind-Checked="PowerNightApp.TurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension limite du réveil">
                    <AntDesign.InputNumber @bind-Value="PowerNightApp.LimitVoltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Durée éteint">
                    <TimeSpanPicker @bind-Model="PowerNightApp.TimeOff.Value" />
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="Batterie faible">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="LowBatteryApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension limite">
                    <AntDesign.InputNumber @bind-Value="LowBatteryApp.Voltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Durée éteint">
                    <TimeSpanPicker @bind-Model="LowBatteryApp.TimeOff.Value" />
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="MPPT">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Tension basse">
                    <AntDesign.InputNumber @bind-Value="EntitiesManagerService.Entities.MpptPowerOffVoltage.Value" Min="11000" Max="12000"></AntDesign.InputNumber>
                </DescriptionsItem>
                <DescriptionsItem Title="Tension haute">
                    <AntDesign.InputNumber @bind-Value="EntitiesManagerService.Entities.MpptPowerOnVoltage.Value" Min="12000" Max="13000"></AntDesign.InputNumber>
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="Watchdog">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="WatchdogApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Temps éteint">
                    <TimeSpanPicker @bind-Model="EntitiesManagerService.Entities.WatchdogPowerOffTime.Value" />
                </DescriptionsItem>
                <DescriptionsItem Title="Durée après alerte">
                    <TimeSpanPicker @bind-Model="MpptApp.DurationAfterAlert.Value" />
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="Caméras">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Activé">
                    <Switch @bind-Checked="CameraCaptureApp.Enabled.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Interval">
                    <TimeSpanPicker @bind-Model="CameraCaptureApp.Interval.Value" />
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="GPIO">
            <Body>
            <Descriptions Bordered="true" Column=2>
                <DescriptionsItem Title="Wifi">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.GpioWifi.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="NPR">
                    <Switch @bind-Checked="EntitiesManagerService.Entities.GpioNpr.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="Wifi au démarrage">
                    <Switch @bind-Checked="GpioApp.StartWifiTurnOn.Value"></Switch>
                </DescriptionsItem>
                <DescriptionsItem Title="NPR au démarrage">
                    <Switch @bind-Checked="GpioApp.StartNprTurnOn.Value"></Switch>
                </DescriptionsItem>
            </Descriptions>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="LoRa TX">
            <Body>
            <Input @bind-Value="LoRaTxPayload" Placeholder="Payload" />
            <Button Type="@ButtonType.Primary" HtmlType="button" OnClick="SendLoRa">
                Envoyer
            </Button>
            </Body>
        </Card>
    </GridCol>
    <GridCol Span="12">
        <Card Title="Commande série TX">
            <Body>
            <Input @bind-Value="SerialTxPayload" Placeholder="Payload" />
            <Button Type="@ButtonType.Primary" HtmlType="button" OnClick="SendSerial">
                Envoyer
            </Button>
            </Body>
        </Card>
    </GridCol>
</GridRow>

@code {
    private string? LoRaTxPayload { get; set; }
    private string? SerialTxPayload { get; set; }

    private void SendLoRa()
    {
        if (!string.IsNullOrWhiteSpace(LoRaTxPayload))
        {
            SerialMessageService.SendLora(LoRaTxPayload);
            LoRaTxPayload = null;
        }
    }
    
    private void SendSerial()
    {
        if (!string.IsNullOrWhiteSpace(SerialTxPayload))
        {
            SerialMessageService.SendCommand(SerialTxPayload);
            SerialTxPayload = null;
        }
    }
}