<footer>
    <a href="mailto:valentin.s.10@gmail.com">valentin.s.10@gmail.com</a>
</footer>
</main>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('nav-<%= page %>').classList.add('selected');
    });
</script>

<%- include('footer-base.ejs', {page: 'index'}); %>
