<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <% if (locals.styles) {
    styles.forEach(function (style) { %>
        <link rel="stylesheet" href="/assets/<%= style %>.css"/>
    <% });
    } %>
    <title>Station autonome - F4HVV</title>
</head>
<body>
