@inherits LayoutComponentBase

<Layout Class="layout">
    <Header>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal">
            <MenuItem RouterLink="/" RouterMatch="NavLinkMatch.All">Tableau de bord</MenuItem>
            <MenuItem RouterLink="/settings" RouterMatch="NavLinkMatch.All">Paramètres</MenuItem>
        </Menu>
    </Header>
    
    <Content Style="padding: 20px 50px;">
        @Body
    </Content>
    
    <Footer Style="text-align: center; ">
        <a href="https://f4hvv.valentin-saugnier.fr" target="_blank">Valentin Saugnier - F4HVV</a> - <a href="mailto:valentin.s.10@gmail.com">valentin.s.10@gmail.com</a>
    </Footer>
</Layout>