body {
    background: #2f2d2d;
}

body > * {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 10px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    font-size: 1.5em;
    font-weight: bold;
}

#slideBody {
    display: flex;
    flex-direction: row;
    margin: auto;
}

main {
    display: flex;
    align-items: center;
    align-self: center;
    width: 78%;
    max-width: calc(640px + 480px + 20px);
}

aside {
    width: 22%;
    align-self: center;
}

img {
    max-width: 640px;
    max-height: 480px;
}

.photo {
    max-width: 100%;
}
